extends layout

block content
	h1= title
	div#controls
		p
			img#portrait
		p
			div#relevanceLabel Mostly The Same
			input#relevance(type='range', min='0', max='12', step='3', value='3')
		div#message
	div#cat-list
		each cat in cats
			img.cat-thumb(src="images/thumbs/" + cat.file, data-hash= cat.hash, data-file= cat.file)
	div#upload-target
		div.livicon(data-name="upload", data-duration='1000')
		div Drag file to upload