doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/jquery.filedrop.js')	
		script(type='text/javascript', src='/javascripts/raphael-min.js')
		script(type='text/javascript', src='/javascripts/livicons.js')
		script(type='text/javascript', src='/javascripts/catscratch.js')
	body
		block content